.scroll{
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 60px 40px 50px; 
    height: 800px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.jiji{
    max-width:100%;
    max-height:100%;
    object-fit: scale-down;
}

.b{
    width: 100px;
    height: 100px;
}

.jiji div {
  display: inline-block; /* 이미지를 감싸는 div를 인라인 블록 요소로 표시 */
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
  text-align: center; /* 이미지를 가운데 정렬 */
}
